* {
    margin: 0;
    padding: 0;
    border: 0;
  }

  :root{
    --cor-primaria: #4BF1F7;
    --cor-secundaria: #00D8FF;
    --cor-terciaria:#00fcfc; 
}

  body{
     background-color:#b5f1f9;
    
  }

  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
  }
  
  .wave-1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
  }
  
  @keyframes moveWave1 {
    from {
      transform: translateX(-2000px);
    }
  }
  
  .wave-2 {
    animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
  }
  
  @keyframes moveWave2 {
    from {
      transform: translateX(-1800px);
    }
  }
  
  .wave-3 {
    animation: moveWave3 3s 0.7s ease-in-out infinite alternate;
  }
  
  @keyframes moveWave3 {
    from {
      transform: translateX(-1600px);
    }
  }

  .box_one{
    background: #FFFFFF;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #E5E5E5;
    border-radius: 20px;
    height: 65vh;
    margin-top: 40%;
    
     
  }

  .box_two{
    background: #FFFFFF;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #E5E5E5;
    border-radius: 20px; 
    height: 65vh;
    margin-top: 70%;
   
    margin-block-end: 10%;
  }
  
  