
.custom-shape-divider-bottom-1634605535 {
    /* position: absolute;
    bottom: 500px;
    left: 300px;
    top:-200px;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    transform: rotate(90deg);
margin-left: -80%; */

position: absolute;
    bottom: 125px;
    left: 0;
    width: 300%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(90deg);
    left: -35%;
    margin-left: -95%
}

.custom-shape-divider-bottom-1634605535 svg {
    
    /* position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px; */

    position: relative;
    display: block;
    width: calc(500% + 1.3px);
    height: 600px;
    
}

.custom-shape-divider-bottom-1634605535 .shape-fill {
    fill: #4BF1F7;
} 










































/* .custom-shape-divider-bottom-1634605535 {
    position: absolute;
    bottom: 500px;
    left: 300px;
    top:-200px;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    transform: rotate(90deg);
margin-left: -80%;

}

.custom-shape-divider-bottom-1634605535 svg {
    
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
    
    
}

.custom-shape-divider-bottom-1634605535 .shape-fill {
    fill: #4BF1F7;
} */
































/* .custom-shape-divider-bottom-1634605535 { */
  /* position: absolute;
  bottom: 500px;
  left: 300px;
  top:-200px;
  width: 100%;
  overflow: hidden;
  line-height: 0;

  transform: rotate(90deg);
margin-left: -80%; */

/* position: absolute;
  bottom: 125px;
  left: 0;
  width: 300%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(80deg);
  left: -35%;
  margin-left: -95% */
  
  /* position: absolute;
  bottom: 125px;
  left: 0;
  width: 250%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(95deg);
  margin-left: -110%; */
/* 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; */
/* } */

/* .custom-shape-divider-top-1634617690 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1634617690 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1634617690 .shape-fill {
  fill: #00D8FF;
} */




















