:root {
  /*========== Colors ==========*/
   --cor-primaria: #4BF1F7;
    --cor-secundaria: #00D8FF;
    --cor-terciaria:#00fcfc;
  }

 .row.five{
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-47%, -10%);
 }
 
  
  .box_one{
    background: #FFFFFF;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #E5E5E5;
    border-radius: 20px;
    height: 70vh;
    margin-top: 10%; 
    overflow-x:hidden;
    
  }

  .scroll{
    background: #FFFFFF;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #E5E5E5;
    border-radius: 20px; 
    height: 70vh;
    margin-top: 10%;
    margin-block-end: 10%;
    width: 100%;
    overflow-x:scroll;
  }

  .modulo-image2{
    width: 200%;
    height: 200%;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-47%, -50%);
  }

  .modulo-image{
   
    width: 100%;
    height: 100%;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
  }

  .card-titulo{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 150%;
    color: #000000;
    margin-left: -15%;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-75%, 40%);

  }

  .card-des{
    font-family: Nunito;
    margin-left: -15%;
    font-weight: 800;
    color: #000000;
    white-space: nowrap;
    font-size: 100%;

    position: relative;
    top:50%;
    left:50%;
    transform: translate(-75%, 30%);
  }

  .card-99{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px var(--cor-primaria);
    border-radius: 20px;
    height: 15vh;
    width: 95%;

    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -210%);
    margin-block-end: 3vh;
  }

  .card-100{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #FFD31D;;
    border-radius: 20px;
    height: 15vh;
    width: 95%;

    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -210%);
    margin-block-end: 3vh;
  }

  .s{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-60%, -40%);
  }

  .card-picture{
    width: 12vh;
    height: 10vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-80%, -35%);
  
  }


  .modulo-image{
    width: 60%;
    height: 60%;
  }

  .elemento-2{
    
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 100%;
    color: #d52020;
 
    
  }

  .titulo-2{
    background: #b31111;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #E5E5E5;
    border-radius: 20px;
    height: 10vh;
    width: 20vh;

    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -110%);
    
  }







































  

  .bi{
    position: relative;
    top:50%;
    left:90%;
    transform: translate(-60%, -120%);

  }

  /* header{
    height: 15vh;
  } */
  

  .card-1{
    background: #ffffff;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #FFD31D;
    border-radius: 20px; 
    height: 12vh;
    width: 80%;

    position: relative;
    top:80%;
    left:50%;
    transform: translate(-50%, 40%);
    margin-top: vh;
    margin-block-end: 5%;
  }

  .card-2{
    background: #ffffff;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #FFD31D;
    border-radius: 20px; 
    height: 12vh;
    width: 80%;

    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, 40%);  
    margin-block-end: 5%;
  }

  .card-3{
    background: #ffffff;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #FFD31D;
    border-radius: 20px; 
    height: 12vh;
    width: 80%;

    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, 40%);  
  }

  .elemento{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 200%;
    color: #000000;

    text-align: center;
    margin-top: 2.5%;
  }

  .titulo{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #E5E5E5;
    border-radius: 20px;
    height: 10vh;
  }

  .row.text{
    /* position: relative;
    top:50%;
    left:50%;
    transform: translate(-39%, -50%);   */
    

  }

  .premium{
    width: 10vh;
    width: 10vh;
    margin-top: 7%;
  }


  .button {
  
    display: inline-block;
    background-color:#FFD31D;
    color: #ffffff;
    width: 100%;
    height: 40%;
    box-shadow: 0px 5px 0px #EAC113;
    border-radius: 10px;
    font-weight:bold;
    transition: .1s;
  
    font-style: normal;
    font-weight: 900;
    font-size: 100%;
  
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5%;
    margin-top: 23%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    color: #ffffff;
    
  }
  .button2 {
  
    display: inline-block;
    background-color:var(--cor-primaria);
    color: #ffffff;
    width: 100%;
    height: 40%;
    box-shadow: 0px 5px 0px var(--cor-secundaria);
    border-radius: 10px;
    font-weight:bold;
    transition: .1s;
  
    font-style: normal;
    font-weight: 900;
    font-size: 100%;
  
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5%;
    margin-top: 23%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    color: #ffffff;
    
  }


  .button:hover{
    background-color:#FFCE00;
    color: white;
    
  }
  
  .button:active{
    background-color:#FFD31D;
    box-shadow: 0px 2px 0px #EAC113;
    transform: translateY(4px);
  
  }

  .elemento2{
    
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 150%;
    color: #000000;
    margin-top: 4%;
    margin-left: -20%;
  }




  @media (max-width: 575.98px) {

    .waves{
      display: none;
    }
    .box_one{
     
    }

    .box_two{
      height: 75vh;
    }
    .card-picture{
      transform: translate(-45%, -60%);
    }

    .card-titulo{
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 150%;
      color: #000000;
      margin-left: -15%;
      position: relative;
      top:50%;
      left:50%;
      transform: translate(-35%, 40%);
  
    }
  
    .card-des{
      font-family: Nunito;
      margin-left: -15%;
      font-weight: 800;
      color: #000000;
      white-space: nowrap;
      font-size: 100%;
  
      position: relative;
      top:50%;
      left:50%;
      transform: translate(-40%, 30%);
    }
  
    .card-99{
      background: #FFFFFF;
      border: 5px solid #E5E5E5;
      box-sizing: border-box;
      box-shadow: 0px 5px 0px var(--cor-primaria);
      border-radius: 20px;
      height: 15vh;
      width: 95%;
  
      position: relative;
      top:50%;
      left:50%;
      transform: translate(-50%, -210%);
  
  
    }

    .card-100{
     
      background: #FFFFFF;
      border: 5px solid #E5E5E5;
      box-sizing: border-box;
      box-shadow: 0px 5px 0px #FFD31D;;
      border-radius: 20px;
      height: 15vh;
      width: 95%;
  
      position: relative;
      top:50%;
      left:50%;
      transform: translate(-50%, -210%);
  
    }
  
    .card-picture{
      width: 12vh;
      height: 10vh;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      
      position: relative;
      top:50%;
      left:50%;
      transform: translate(-35%, -35%);
    
    }

    .button{
      width: 110%;
      font-size: 80%;

      
      
    }

    .button2{
      width: 110%;
      font-size: 80%;

      
      
    }

    .s{
      position: fixed;
      top:50%;
      left:50%;
      transform: translate(110%, -20%);
    }
  }


    @media (max-width: 575.98px) {
      .elemento2{
       font-size: 100%;
       margin-top: 10%;
    margin-left: 7%;
      }
    }
  


  




















  /* onda */




  .onda,
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }
  
  section {
    background: #66c3d0;
  }
  
  .onda {
  
   
  }
  
  .onda h1 {
    border: 5px solid white;
    padding: 10px 50px;
    margin: 50px;
    z-index: 2;
  }
  
  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
  }
  
  .wave-1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
  }
  
  @keyframes moveWave1 {
    from {
      transform: translateX(-2000px);
    }
  }
  
  .wave-2 {
    animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
  }
  
  @keyframes moveWave2 {
    from {
      transform: translateX(-1800px);
    }
  }
  
  .wave-3 {
    animation: moveWave3 3s 0.7s ease-in-out infinite alternate;
  }
  
  @keyframes moveWave3 {
    from {
      transform: translateX(-1600px);
    }
  }