* {
    padding: 0;
      margin: 0;
      border: 0;
      box-sizing: border-box;
      font-family: 'Nunito', sans-serif;
      
    }
  
    :root{
      --cor-primaria: #4BF1F7;
      --cor-secundaria: #00D8FF;
      --cor-terciaria:#00fcfc; 
  }
  
    body{
      background-color:#b5fcfe;
      
  }

  .controle{
margin-top: -2vh;
  }

  .nav{
      width: 90%;
      height: 7vh;
      align-items: center;
      background: #e61f1f;
      border: 3px solid #E5E5E5;
      box-sizing: border-box;
      box-shadow: 0px 5px 0px #E5E5E5;
      border-radius: 20px;

      position: relative;
      top:50%;
      left:50%;
      transform: translate(-50%, 40%);
  }

  .box_one{
    background: #FFFFFF;
    border: 3px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 0px #E5E5E5;
    border-radius: 20px;
    height: 96vh;
   
    width: 90%; 

    position: relative;
    top:50%;
    left:50%;
    transform: translate(-49%, -48%);
    
  }


  .card-mod{
    

  }

  .elemento2{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 200%;
    color: #000000;
    background-color: #75DAAD;

    text-align: center;
    font-size: 100%;
    margin-top: 0.5vh;

    box-shadow: 0px 5px 0px #ffffff;
    border-radius: 20px;

  }
  .elemento3{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 200%;
    color: #000000;

    background-color: #FFD31D;

    box-shadow: 0px 5px 0px #ffffff;
    border-radius: 20px;

    text-align: center;
    font-size: 100%;
    margin-top: 0.5vh;

  }
   
  

  .elemento{
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 200%;
    color: #000000;

    text-align: center;
    font-size: 100%;
    margin-top: 0.5vh;

    

    
    
  }

  .mb-3{

  }

  .titulo{
    background: #75DAAD;
   
    background-color:#ffffff;
    box-shadow: 0px 5px 0px #75DAAD;
    border-radius: 5px;
    height: 4vh;
    margin-block-end: 1vh;
    

    
  }

  button{
    height: 4vh;
    width: 100%;
    background-color:var(--cor-primaria);
    box-shadow: 0px 5px 0px var(--cor-secundaria);
    border-radius: 10px;
    margin-bottom: 145px;
 
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    margin-bottom: 1.5rem;


   font-style: normal;
   font-weight: 900;
   font-size: 17px;
   line-height: 45px;


}

button:hover{
    background-color: var(--cor-terciaria);
    color: white;
}

button:active{
    background-color: var(--cor-primaria);
    box-shadow: 0px 2px 0px var(--cor-secundaria);
    transform: translateY(4px);

}

.btn1{
  line-height: 35px;
  background-color: #00D8FF;
}

.scroll{
  width: 100%;
  height: 35vh;
  overflow-x:scroll;
  

  
  
}




  @media (max-width: 575.98px) {
    .box_one{
        width: 90%;
    }
    .btn1{
      line-height: 30px;
    }
    .scroll{

    }
  }




























































  .onda,
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }
  
  section {
    background: #66c3d0;
  }
  
  .onda {
  
   
  }
  
  .onda h1 {
    border: 5px solid white;
    padding: 10px 50px;
    margin: 50px;
    z-index: 2;
  }
  
  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
  }
  
  .wave-1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
  }
  
  @keyframes moveWave1 {
    from {
      transform: translateX(-2000px);
    }
  }
  
  .wave-2 {
    animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
  }
  
  @keyframes moveWave2 {
    from {
      transform: translateX(-1800px);
    }
  }
  
  .wave-3 {
    animation: moveWave3 3s 0.7s ease-in-out infinite alternate;
  }
  
  @keyframes moveWave3 {
    from {
      transform: translateX(-1600px);
    }
  }